$color-primary: #00af9f;
$color-additional: #f8cc7b;
$color-text: #24292f;

$color-bg-primary: #f8f8f8;
$color-bg-add: #ffffff;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
