$color-primary: #00af9f;
$color-additional: #f8cc7b;
$color-text: #24292f;
$color-text-light: #767676;
$color-error: #E32636;

$color-bg-primary: #f8f8f8;
$color-bg-add: #ffffff;
$color-bg-light: #d1e0e27e;
$color-bg-light-focus: #d1e0e2;
$color-shadow: rgba(0,0,0,0.4);

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
