.header {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  gap: 20px;
  font-size: 1.6rem;

  & a:hover {
    color: $color-primary;
  }
}
